<% favorites.each do |favorite| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= favorite.post.votes.count %>
      <%= link_to favorite.post.title, topic_post_path(favorite.post.topic, favorite.post) %>
    </h4>
  </div>
</div>
<% end %>
